@charset "utf-8"; /* CSS Document */
//A mixin which helps you to add depth to elements according to the Google Material Design spec:
//http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
//Adapted from a LESS version at https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d
//Original Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
@mixin shadow($level) {
	@if $level == 1 {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	} @else 
	if $level == 2 {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	} @else 
	if $level == 3 {
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	} @else 
	if $level == 4 {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	} @else 
	if $level == 5 {
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	}
}
$hover-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

body,
p,
td,
th {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size  : 10pt;
	color      : #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin          : 0;
	display         : flex;
	min-height      : 100vh;
	max-width       : 100vw;
	flex-direction  : column;
}

li,
ul {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size  : 10pt;
	color      : #333;
}

a {
	color          : orange;
	text-decoration: none;

	img {
		border: 0 0 #fff;
	}

	:focus,
	:hover {
		color          : #3397db;
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	margin     : 0 0 20px;
}

#maincontent {
	background-color: #f3f3f3;
	flex            : 1;
}

#footer {
	background-color: #444;
	color           : #aaa;
	font-size       : 8pt;
	letter-spacing  : 1px;
	padding         : 25px;
	text-align      : center;
	text-transform  : uppercase;
}
/* ====================== Navigation ====================== */

nav {
	display         : flex;
	align-content   : center;
	width           : 100%;
	height          : 80px;
	background-color: #252831;
	text-align      : center;

	h1 {
		margin: auto;

		a {
			color         : #fff;
			font-size     : 14pt;
			font-weight   : 200;
			letter-spacing: 10px;
			text-transform: uppercase;
		}
	}
}
/* ====================== Map ====================== */

#map {
	height          : 400px;
	width           : 100%;
	background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
	width           : 100%;
	display         : flex;
	background-color: #3397DB;
	align-content   : center;
	align-items     : center;
	flex-wrap       : wrap;

	h2 {
		color      : white;
		font-size  : 1rem;
		font-weight: normal;
		line-height: 1;
		margin     : 0 20px;
	}

	select {
		background-color: white;
		border          : 1px solid #fff;
		font-family     : "Open Sans", sans-serif;
		font-size       : 11pt;
		height          : 35px;
		letter-spacing  : 0;
		margin          : 10px;
		padding         : 0 10px;
		width           : 200px;
	}
}
/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	background-color: #f3f3f3;
	list-style      : outside none none;
	display         : flex;
	flex-wrap       : wrap;
	justify-content : center;
	padding         : 30px 0 60px;

	li {
		@include shadow(2);
		background-color: #fff;
		//border          : 2px solid #ccc;
		font-family     : "Open Sans", sans-serif;
		margin          : 15px;
		min-height      : 380px;
		padding-bottom  : 15px;
		border-radius   : 3px;
		text-align      : left;
		min-width       : 270px;
		display         : flex;
		flex-direction  : column;
		align-content   : center;

		h1 {
			color         : #f18700;
			font-family   : "Open Sans", sans-serif;
			font-size     : 14pt;
			font-weight   : 200;
			letter-spacing: 0;
			line-height   : 1.3;
			margin        : 20px 15px 10px;
			text-transform: uppercase;
		}

		a {
			background-color: orange;
			color           : #fff;
			font-size       : 10pt;
			margin-top      : 15px;
			padding         : 8px 30px 10px;
			text-align      : center;
			text-decoration : none;
			text-transform  : uppercase;
			align-self      : center;
			transition      : $hover-transition;
			border-radius   : 3px;

			&:hover {
				@include shadow(2);
				cursor: pointer;
			}
		}

		.restaurant-img {
			background-color       : #ccc;
			border-top-left-radius : 3px;
			border-top-right-radius: 3px;
			flex-shrink            : 0;
			width                  : 100%;
			max-width              : 300px;
		}
	}

	p {
		margin   : 0 15px;
		font-size: 11pt;
	}
}
/* ====================== Restaurant Details ====================== */

.inside {
	main {
		flex-direction: column;
		display       : flex;
	}

	.info-container {
		display        : flex;
		flex-direction : row;
		flex-wrap      : wrap;
		justify-content: center;
	}

	#map-container {
		@include shadow(1);
		border-radius: 5px;
		background   : blue none repeat scroll 0 0;
		margin       : 15px;
		width        : 600px;
		height       : 600px;
	}

	#map {
		border-radius   : 5px;
		background-color: #ccc;
		min-height      : 100%;
		width           : 100%;
		font-family     : "Open Sans", sans-serif;
	}
}

#restaurant-name {
	text-shadow   : 1px 1px rgba(51,51,51,0.62);
	color         : #f18700;
	font-size     : 20pt;
	font-weight   : 700;
	letter-spacing: 0;
	padding       : 15px 5px;
	text-transform: uppercase;
	width         : 100%;
	text-align    : center;
}

#restaurant-img {
	@include shadow(1);
	border-top-left-radius : 5px;
	border-top-right-radius: 5px;
	width                  : 100%;
}

#restaurant-address {
	@include shadow(1);
	border-top-left-radius : 5px;
	border-top-right-radius: 5px;
	background-color       : #333;
	color                  : #ddd;
	font-size              : 12pt;
	text-align             : center;
	padding                : 5px 0;
	margin                 : 0;
}

#restaurant-cuisine {
	@include shadow(1);
	border-bottom-left-radius : 5px;
	border-bottom-right-radius: 5px;
	background-color          : #333;
	color                     : #ddd;
	font-size                 : 12pt;
	font-weight               : 300;
	letter-spacing            : 10px;
	margin                    : 0 0 20px;
	padding                   : 2px 0;
	text-align                : center;
	text-transform            : uppercase;
}

#restaurant-container {
	display        : flex;
	flex-direction : column;
	justify-content: center;
	margin         : 15px 0;
}

#reviews-container {
	padding: 30px 10px 10px;

	h2 {
		color         : #f58500;
		font-size     : 24pt;
		font-weight   : 300;
		text-align    : center;
		text-transform: uppercase;
		letter-spacing: -1px;
		padding-bottom: 1pt;
	}
}

#reviews-list {
	margin         : 0;
	padding        : 5px;
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
	justify-content: center;

	li {
		@include shadow(1);
		border-radius   : 5px;
		background-color: #fff;
		display         : block;
		list-style-type : none;
		max-width       : 700px;
		margin          : 0 15px 30px;

		.review-header {
			background-color       : #444;
			width                  : 100%;
			border-top-left-radius : 5px;
			border-top-right-radius: 5px;
			display                : flex;
			flex-direction         : row;
			justify-content        : space-between;
			align-items            : center;

			.review-name {
				padding    : 15px;
				font-size  : 22px;
				font-weight: bold;
				color      : #fff;
			}

			.review-date {
				color    : #aaa;
				font-size: 16px;
				padding  : 15px;
			}
		}

		.rating {
			text-transform  : uppercase;
			letter-spacing  : 1.1px;
			padding         : 10px 14px;
			margin          : 10px 15px;
			display         : inline-block;
			border-radius   : 3px;
			background-color: orange;
			color           : white;
			font-size       : 16px;
			font-weight     : bold;
		}

		p {
			margin   : 15px 20px 15px 15px;
			font-size: 16px;
		}
	}
}

#restaurant-hours {
	@include shadow(1);
	color                     : #666;
	background-color          : #fff;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius: 5px;

	td {}
}

#breadcrumb {
	padding         : 10px 40px 16px;
	list-style      : none;
	background-color: #eee;
	font-size       : 17px;
	margin          : 0;
	/* Display list items side by side */
	li {
		display: inline;
		/* Add a color to all links inside the list */
		a {
			color          : #0275d8;
			text-decoration: none;
			/* Add a color on mouse-over */
			:hover {
				color          : #01447e;
				text-decoration: underline;
			}
		}
	}
	/* Add a slash symbol (/) before/behind each list item */
	li+li::before {
		padding: 8px;
		color  : black;
		content: "/\00a0";
	}
}