/* CSS Document */
body,
p,
td,
th {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5; }

body {
  background-color: #fdfdfd;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

li,
ul {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333; }

a {
  color: orange;
  text-decoration: none; }
  a img {
    border: 0 0 #fff; }
  a :focus,
  a :hover {
    color: #3397db;
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

#maincontent {
  background-color: #f3f3f3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center; }
  nav h1 {
    margin: auto; }
    nav h1 a {
      color: #fff;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase; }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3397DB;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px; }
  .filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px; }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 60px; }
  #restaurants-list li {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 15px;
    min-height: 380px;
    padding-bottom: 15px;
    border-radius: 3px;
    text-align: left;
    min-width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center; }
    #restaurants-list li h1 {
      color: #f18700;
      font-family: "Open Sans", sans-serif;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 15px 10px;
      text-transform: uppercase; }
    #restaurants-list li a {
      background-color: orange;
      color: #fff;
      font-size: 10pt;
      margin-top: 15px;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      border-radius: 3px; }
      #restaurants-list li a:hover {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        cursor: pointer; }
    #restaurants-list li .restaurant-img {
      background-color: #ccc;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 100%;
      max-width: 300px; }
  #restaurants-list p {
    margin: 0 15px;
    font-size: 11pt; }

/* ====================== Restaurant Details ====================== */
.inside main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inside .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.inside #map-container {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  background: blue none repeat scroll 0 0;
  margin: 15px;
  width: 600px;
  height: 600px; }

.inside #map {
  border-radius: 5px;
  background-color: #ccc;
  min-height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif; }

#restaurant-name {
  text-shadow: 1px 1px rgba(51, 51, 51, 0.62);
  color: #f18700;
  font-size: 20pt;
  font-weight: 700;
  letter-spacing: 0;
  padding: 15px 5px;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }

#restaurant-img {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%; }

#restaurant-address {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  text-align: center;
  padding: 5px 0;
  margin: 0; }

#restaurant-cuisine {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }

#restaurant-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0; }

#reviews-container {
  padding: 30px 10px 10px; }
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 1pt; }

#reviews-list {
  margin: 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #reviews-list li {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background-color: #fff;
    display: block;
    list-style-type: none;
    max-width: 700px;
    margin: 0 15px 30px; }
    #reviews-list li .review-header {
      background-color: #444;
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #reviews-list li .review-header .review-name {
        padding: 15px;
        font-size: 22px;
        font-weight: bold;
        color: #fff; }
      #reviews-list li .review-header .review-date {
        color: #aaa;
        font-size: 16px;
        padding: 15px; }
    #reviews-list li .rating {
      text-transform: uppercase;
      letter-spacing: 1.1px;
      padding: 10px 14px;
      margin: 10px 15px;
      display: inline-block;
      border-radius: 3px;
      background-color: orange;
      color: white;
      font-size: 16px;
      font-weight: bold; }
    #reviews-list li p {
      margin: 15px 20px 15px 15px;
      font-size: 16px; }

#restaurant-hours {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  /* Display list items side by side */
  /* Add a slash symbol (/) before/behind each list item */ }
  #breadcrumb li {
    display: inline;
    /* Add a color to all links inside the list */ }
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
      /* Add a color on mouse-over */ }
      #breadcrumb li a :hover {
        color: #01447e;
        text-decoration: underline; }
  #breadcrumb li + li::before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }
